@{
    ViewData["Title"] = "Home Page";
} 
<div class="page-wrapper" bis_skin_checked="1">

    <section class="hero-section">
        <div class="" bis_skin_checked="1">
            <div class="header-section-wrapper" bis_skin_checked="1">
                <div class="header-content-wrapper" bis_skin_checked="1">
                    <div class="header-text-wrapper" bis_skin_checked="1">
                        <h1 class="header-text">Professional Bike Repairs You Can Trust <span class="brand-span">2whealers</span></h1>
                        <div class="header-button-wrapper" bis_skin_checked="1">
                            <a href="/our-fleet" class="cta-button w-button" bis_skin_checked="1">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- tab section Start -->
    <div class="latest-news" bis_skin_checked="1">
        <div class="container" bis_skin_checked="1">
            <h2 style="line-height: 61px;margin-top: unset;">Latest Bike Launches &amp; Updates You Shouldn’t Miss</h2>
            <div class="tabs" bis_skin_checked="1">
                <div class="tab-btn active" data-tab="latest" bis_skin_checked="1">Latest</div>
                <div class="tab-btn" data-tab="featured" bis_skin_checked="1">Featured</div>
                <div class="tab-btn" data-tab="reviews" bis_skin_checked="1">Reviews</div>
            </div>

            <!-- Latest Tab -->
            <div class="tab-content active" id="latest" bis_skin_checked="1">
                <div class="swiper latest-swiper swiper-initialized swiper-horizontal swiper-backface-hidden" bis_skin_checked="1">
                    <div class="swiper-wrapper" id="swiper-wrapper-8298e701e6b4c4ec" aria-live="polite" style="cursor: grab;" bis_skin_checked="1">
                        <!-- Slide -->
                        <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 6" bis_skin_checked="1" style="width: 278.75px; margin-right: 15px;">
                            <img src="https://media.zigcdn.com/media/content/2025/Aug/cover_6891abe6f1105.jpg?tr=w-320" alt="Triumph">
                            <div class="slide-text" bis_skin_checked="1">BREAKING: Triumph Thruxton 400 Launched</div>
                        </div>
                        <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 6" bis_skin_checked="1" style="width: 278.75px; margin-right: 15px;">
                            <img src="https://media.zigcdn.com/media/content/2025/Aug/cover_6891cb68b36c3.jpg?tr=w-320" alt="Nissan">
                            <div class="slide-text" bis_skin_checked="1">BREAKING: Triumph Thruxton 400 Launched</div>
                        </div>
                        <div class="swiper-slide" role="group" aria-label="3 / 6" bis_skin_checked="1" style="width: 278.75px; margin-right: 15px;">
                            <img src="https://media.zigcdn.com/media/content/2025/Aug/cover_689337e66d38b.jpg" alt="Nissan">
                            <div class="slide-text" bis_skin_checked="1">BREAKING: Triumph Thruxton 400 Launched</div>
                        </div>
                        <div class="swiper-slide" role="group" aria-label="4 / 6" bis_skin_checked="1" style="width: 278.75px; margin-right: 15px;">
                            <img src="https://media.zigcdn.com/media/content/2025/Aug/cover_689353228e5ce.jpg" alt="Nissan">
                            <div class="slide-text" bis_skin_checked="1">BREAKING: Triumph Thruxton 400 Launched</div>
                        </div>
                        <div class="swiper-slide" role="group" aria-label="5 / 6" bis_skin_checked="1" style="width: 278.75px; margin-right: 15px;">
                            <img src="https://media.zigcdn.com/media/content/2025/Aug/cover_689337e66d38b.jpg" alt="Nissan">
                            <div class="slide-text" bis_skin_checked="1">Nissan Magnite Kuro Edition Launched</div>
                        </div>
                        <div class="swiper-slide" role="group" aria-label="6 / 6" bis_skin_checked="1" style="width: 278.75px; margin-right: 15px;">
                            <img src="https://media.zigcdn.com/media/content/2025/Aug/cover_6891cb68b36c3.jpg?tr=w-320" alt="Nissan">
                            <div class="slide-text" bis_skin_checked="1">Nissan Magnite Kuro Edition Launched</div>
                        </div>
                        <!-- Add more slides as needed -->
                    </div>
                    <div class="swiper-pagination" bis_skin_checked="1"></div>
                    <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-8298e701e6b4c4ec" aria-disabled="false" bis_skin_checked="1"></div>
                    <div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-8298e701e6b4c4ec" aria-disabled="true" bis_skin_checked="1"></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>

            <!-- Featured Tab -->
            <div class="tab-content" id="featured" bis_skin_checked="1">
                <div class="swiper featured-swiper swiper-initialized swiper-horizontal" bis_skin_checked="1">
                    <div class="swiper-wrapper" id="swiper-wrapper-4cb910268d9151ad3" aria-live="polite" bis_skin_checked="1" style="cursor: grab; transition-duration: 0ms; transition-delay: 0ms;">
                        <div class="swiper-slide" bis_skin_checked="1">
                            <img src="https://media.zigcdn.com/media/content/2025/Jul/cover_686e6235456b8.jpg" alt="Kia EV">
                            <div class="slide-text" bis_skin_checked="1">Kia Carens Clavis EV 7-Seater</div>
                        </div>
                        <!-- More featured slides -->
                    </div>
                    <div class="swiper-pagination" bis_skin_checked="1"></div>
                    <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-4cb910268d9151ad3" aria-disabled="false" bis_skin_checked="1"></div>
                    <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-4cb910268d9151ad3" aria-disabled="false" bis_skin_checked="1"></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>

            <!-- Reviews Tab -->
            <div class="tab-content" id="reviews" bis_skin_checked="1">
                <div class="swiper reviews-swiper swiper-initialized swiper-horizontal" bis_skin_checked="1">
                    <div class="swiper-wrapper" id="swiper-wrapper-84d609cda7f3290a" aria-live="polite" bis_skin_checked="1" style="cursor: grab; transition-duration: 0ms; transition-delay: 0ms;">
                        <div class="swiper-slide" bis_skin_checked="1">
                            <img src="https://media.zigcdn.com/media/content/2025/Aug/cover_688c72aa9eff9.jpg" alt="Volvo XC60">
                            <div class="slide-text" bis_skin_checked="1">Volvo XC60 Facelift Review</div>
                        </div>
                        <!-- More review slides -->
                    </div>
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal" bis_skin_checked="1"></div>
                    <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-84d609cda7f3290a" aria-disabled="false" bis_skin_checked="1"></div>
                    <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-84d609cda7f3290a" aria-disabled="false" bis_skin_checked="1"></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- tab section End -->
</div>
<section class="section">
    <div class="content-wrapper" bis_skin_checked="1">
        <div class="section-heading-wrapper" bis_skin_checked="1">
            <h2 class="section-heading">Featured Cars</h2>
            <a href="/our-fleet" class="cta-button w-button" bis_skin_checked="1">Show all</a>
        </div>
        <div class="cars-collection-list-wrapper w-dyn-list" bis_skin_checked="1">
            <div fs-cmsload-pageboundary="2" fs-cmsfilter-element="list" fs-cmsfilter-tagformat="category" fs-cmsload-element="list" fs-cmsload-mode="pagination" fs-cmsload-pagesiblings="2" role="list" class="cars-collection-list w-dyn-items" bis_skin_checked="1">
                <div role="listitem" class="car-collection-item w-dyn-item" bis_skin_checked="1">
                    <div class="car-card" bis_skin_checked="1">
                        <a href="/cars/porsche-cayenne-coupe" class="car-image-wrapper w-inline-block" bis_skin_checked="1" bis_size="{&quot;x&quot;:135,&quot;y&quot;:897,&quot;w&quot;:299,&quot;h&quot;:209,&quot;abs_x&quot;:135,&quot;abs_y&quot;:897}">
                            <img loading="eager" src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne.jpg" alt="" sizes="(max-width: 479px) 90vw, (max-width: 767px) 44vw, (max-width: 991px) 45vw, 21vw" srcset="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-500.jpg 500w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-800.jpg 800w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-1080.jpg 1080w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-1600.jpg 1600w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-2000.jpg 2000w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-2600.jpg 2600w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-3200.jpg 3200w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne.jpg 5000w" class="listing-car-image" bis_size="{&quot;x&quot;:135,&quot;y&quot;:897,&quot;w&quot;:299,&quot;h&quot;:209,&quot;abs_x&quot;:135,&quot;abs_y&quot;:897}" bis_id="bn_sqbyhob9l18s7gmlabm1d6">
                            <div class="car-listing-year" bis_skin_checked="1">2024</div>
                        </a>
                        <div class="car-details-wrapper" bis_skin_checked="1">
                            <h1 class="car-listing-name">Porsche Cayenne Coupe</h1>
                            <div class="listing-price-wrapper" bis_skin_checked="1">
                                <div class="currency-price-term" bis_skin_checked="1">AED</div>
                                <div class="car-listing-price" bis_skin_checked="1">5000</div>
                                <div class="currency-price-term" bis_skin_checked="1">/ DAY</div>
                            </div>
                            <div class="car-listing-details-wrapper" bis_skin_checked="1">
                                <div class="car-listing-detail" bis_skin_checked="1">
                                    <img loading="eager" src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/6677ef5c2f59c6148debf80e_mileage.svg" alt="Mileage Icon" class="listing-icon">
                                    <div class="listing-detail" bis_skin_checked="1">5800</div>
                                </div>
                                <div class="car-listing-detail" bis_skin_checked="1">
                                    <img loading="eager" src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/6677ef5c2f59c6148debf82b_transmission.svg" alt="Transmission Icon" class="listing-icon">
                                    <div class="listing-detail" bis_skin_checked="1">Automatic</div>
                                </div>
                                <div class="car-listing-detail" bis_skin_checked="1">
                                    <img loading="eager" src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/6677ef5c2f59c6148debf82a_seats.svg" alt="Seats Icon" class="listing-icon">
                                    <div class="listing-detail" bis_skin_checked="1">5</div>
                                </div>
                                <div class="car-listing-detail" bis_skin_checked="1">
                                    <img loading="eager" src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/6677ef5c2f59c6148debf7fd_baggage.svg" alt="Baggage Icon" class="listing-icon">
                                    <div class="listing-detail" bis_skin_checked="1">4</div>
                                </div>
                            </div>
                            <a href="/cars/porsche-cayenne-coupe" class="details-btn w-button" bis_skin_checked="1">See Full Details</a>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="car-collection-item w-dyn-item" bis_skin_checked="1">
                    <div class="car-card" bis_skin_checked="1">
                        <a href="/cars/porsche-cayenne-coupe" class="car-image-wrapper w-inline-block" bis_skin_checked="1" bis_size="{&quot;x&quot;:452,&quot;y&quot;:897,&quot;w&quot;:299,&quot;h&quot;:209,&quot;abs_x&quot;:452,&quot;abs_y&quot;:897}">
                            <img loading="eager" src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne.jpg" alt="" sizes="(max-width: 479px) 90vw, (max-width: 767px) 44vw, (max-width: 991px) 45vw, 21vw" srcset="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-500.jpg 500w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-800.jpg 800w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-1080.jpg 1080w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-1600.jpg 1600w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-2000.jpg 2000w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-2600.jpg 2600w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-3200.jpg 3200w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne.jpg 5000w" class="listing-car-image" bis_size="{&quot;x&quot;:452,&quot;y&quot;:897,&quot;w&quot;:299,&quot;h&quot;:209,&quot;abs_x&quot;:452,&quot;abs_y&quot;:897}" bis_id="bn_r2zfzp9ouppvmsntolov2t">
                            <div class="car-listing-year" bis_skin_checked="1">2024</div>
                        </a>
                        <div class="car-details-wrapper" bis_skin_checked="1">
                            <h1 class="car-listing-name">Porsche Cayenne Coupe</h1>
                            <div class="listing-price-wrapper" bis_skin_checked="1">
                                <div class="currency-price-term" bis_skin_checked="1">AED</div>
                                <div class="car-listing-price" bis_skin_checked="1">5000</div>
                                <div class="currency-price-term" bis_skin_checked="1">/ DAY</div>
                            </div>
                            <div class="car-listing-details-wrapper" bis_skin_checked="1">
                                <div class="car-listing-detail" bis_skin_checked="1">
                                    <img loading="eager" src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/6677ef5c2f59c6148debf80e_mileage.svg" alt="Mileage Icon" class="listing-icon">
                                    <div class="listing-detail" bis_skin_checked="1">5800</div>
                                </div>
                                <div class="car-listing-detail" bis_skin_checked="1">
                                    <img loading="eager" src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/6677ef5c2f59c6148debf82b_transmission.svg" alt="Transmission Icon" class="listing-icon">
                                    <div class="listing-detail" bis_skin_checked="1">Automatic</div>
                                </div>
                                <div class="car-listing-detail" bis_skin_checked="1">
                                    <img loading="eager" src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/6677ef5c2f59c6148debf82a_seats.svg" alt="Seats Icon" class="listing-icon">
                                    <div class="listing-detail" bis_skin_checked="1">5</div>
                                </div>
                                <div class="car-listing-detail" bis_skin_checked="1">
                                    <img loading="eager" src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/6677ef5c2f59c6148debf7fd_baggage.svg" alt="Baggage Icon" class="listing-icon">
                                    <div class="listing-detail" bis_skin_checked="1">4</div>
                                </div>
                            </div>
                            <a href="/cars/porsche-cayenne-coupe" class="details-btn w-button" bis_skin_checked="1">See Full Details</a>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="car-collection-item w-dyn-item" bis_skin_checked="1">
                    <div class="car-card" bis_skin_checked="1">
                        <a href="/cars/porsche-cayenne-coupe" class="car-image-wrapper w-inline-block" bis_skin_checked="1" bis_size="{&quot;x&quot;:769,&quot;y&quot;:897,&quot;w&quot;:299,&quot;h&quot;:209,&quot;abs_x&quot;:769,&quot;abs_y&quot;:897}">
                            <img loading="eager" src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne.jpg" alt="" sizes="(max-width: 479px) 90vw, (max-width: 767px) 44vw, (max-width: 991px) 45vw, 21vw" srcset="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-500.jpg 500w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-800.jpg 800w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-1080.jpg 1080w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-1600.jpg 1600w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-2000.jpg 2000w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-2600.jpg 2600w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-3200.jpg 3200w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne.jpg 5000w" class="listing-car-image" bis_size="{&quot;x&quot;:769,&quot;y&quot;:897,&quot;w&quot;:299,&quot;h&quot;:209,&quot;abs_x&quot;:769,&quot;abs_y&quot;:897}" bis_id="bn_17c6h6qlf7avhxz9qsto9a">
                            <div class="car-listing-year" bis_skin_checked="1">2024</div>
                        </a>
                        <div class="car-details-wrapper" bis_skin_checked="1">
                            <h1 class="car-listing-name">Porsche Cayenne Coupe</h1>
                            <div class="listing-price-wrapper" bis_skin_checked="1">
                                <div class="currency-price-term" bis_skin_checked="1">AED</div>
                                <div class="car-listing-price" bis_skin_checked="1">5000</div>
                                <div class="currency-price-term" bis_skin_checked="1">/ DAY</div>
                            </div>
                            <div class="car-listing-details-wrapper" bis_skin_checked="1">
                                <div class="car-listing-detail" bis_skin_checked="1">
                                    <img loading="eager" src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/6677ef5c2f59c6148debf80e_mileage.svg" alt="Mileage Icon" class="listing-icon">
                                    <div class="listing-detail" bis_skin_checked="1">5800</div>
                                </div>
                                <div class="car-listing-detail" bis_skin_checked="1">
                                    <img loading="eager" src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/6677ef5c2f59c6148debf82b_transmission.svg" alt="Transmission Icon" class="listing-icon">
                                    <div class="listing-detail" bis_skin_checked="1">Automatic</div>
                                </div>
                                <div class="car-listing-detail" bis_skin_checked="1">
                                    <img loading="eager" src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/6677ef5c2f59c6148debf82a_seats.svg" alt="Seats Icon" class="listing-icon">
                                    <div class="listing-detail" bis_skin_checked="1">5</div>
                                </div>
                                <div class="car-listing-detail" bis_skin_checked="1">
                                    <img loading="eager" src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/6677ef5c2f59c6148debf7fd_baggage.svg" alt="Baggage Icon" class="listing-icon">
                                    <div class="listing-detail" bis_skin_checked="1">4</div>
                                </div>
                            </div>
                            <a href="/cars/porsche-cayenne-coupe" class="details-btn w-button" bis_skin_checked="1">See Full Details</a>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="car-collection-item w-dyn-item" bis_skin_checked="1">
                    <div class="car-card" bis_skin_checked="1">
                        <a href="/cars/porsche-cayenne-coupe" class="car-image-wrapper w-inline-block" bis_skin_checked="1" bis_size="{&quot;x&quot;:1086,&quot;y&quot;:897,&quot;w&quot;:299,&quot;h&quot;:209,&quot;abs_x&quot;:1086,&quot;abs_y&quot;:897}">
                            <img loading="eager" src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne.jpg" alt="" sizes="(max-width: 479px) 90vw, (max-width: 767px) 44vw, (max-width: 991px) 45vw, 21vw" srcset="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-500.jpg 500w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-800.jpg 800w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-1080.jpg 1080w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-1600.jpg 1600w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-2000.jpg 2000w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-2600.jpg 2600w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne-p-3200.jpg 3200w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf80a/6677ef5c2f59c6148debf848_porsche-cayenne.jpg 5000w" class="listing-car-image" bis_size="{&quot;x&quot;:1086,&quot;y&quot;:897,&quot;w&quot;:299,&quot;h&quot;:209,&quot;abs_x&quot;:1086,&quot;abs_y&quot;:897}" bis_id="bn_46wsxnf5rgyyfszs4bhzdk">
                            <div class="car-listing-year" bis_skin_checked="1">2024</div>
                        </a>
                        <div class="car-details-wrapper" bis_skin_checked="1">
                            <h1 class="car-listing-name">Porsche Cayenne Coupe</h1>
                            <div class="listing-price-wrapper" bis_skin_checked="1">
                                <div class="currency-price-term" bis_skin_checked="1">AED</div>
                                <div class="car-listing-price" bis_skin_checked="1">5000</div>
                                <div class="currency-price-term" bis_skin_checked="1">/ DAY</div>
                            </div>
                            <div class="car-listing-details-wrapper" bis_skin_checked="1">
                                <div class="car-listing-detail" bis_skin_checked="1">
                                    <img loading="eager" src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/6677ef5c2f59c6148debf80e_mileage.svg" alt="Mileage Icon" class="listing-icon">
                                    <div class="listing-detail" bis_skin_checked="1">5800</div>
                                </div>
                                <div class="car-listing-detail" bis_skin_checked="1">
                                    <img loading="eager" src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/6677ef5c2f59c6148debf82b_transmission.svg" alt="Transmission Icon" class="listing-icon">
                                    <div class="listing-detail" bis_skin_checked="1">Automatic</div>
                                </div>
                                <div class="car-listing-detail" bis_skin_checked="1">
                                    <img loading="eager" src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/6677ef5c2f59c6148debf82a_seats.svg" alt="Seats Icon" class="listing-icon">
                                    <div class="listing-detail" bis_skin_checked="1">5</div>
                                </div>
                                <div class="car-listing-detail" bis_skin_checked="1">
                                    <img loading="eager" src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/6677ef5c2f59c6148debf7fd_baggage.svg" alt="Baggage Icon" class="listing-icon">
                                    <div class="listing-detail" bis_skin_checked="1">4</div>
                                </div>
                            </div>
                            <a href="/cars/porsche-cayenne-coupe" class="details-btn w-button" bis_skin_checked="1">See Full Details</a>
                        </div>
                    </div>
                </div>
                <!-- ...other car items... -->
            </div>
        </div>
    </div>
</section>