<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Bike Nation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"> 
    <link href="~/css/style.css" rel="stylesheet" />

    <link href="http://2whealers.com/public/front/whitelogo.png" rel="shortcut icon" type="image/x-icon" />
    <link href="http://2whealers.com/public/front/whitelogo.png" rel="apple-touch-icon" />
</head>
<body>

    <header class="navbar w-nav">
        <div class="content-wrapper" bis_skin_checked="1">
            <div class="navbar-wrapper" bis_skin_checked="1">
                <a href="/" aria-current="page" class="brand w-nav-brand w--current" bis_size="{&quot;x&quot;:134,&quot;y&quot;:0,&quot;w&quot;:180,&quot;h&quot;:101,&quot;abs_x&quot;:134,&quot;abs_y&quot;:0}">
                    <img src="http://2whealers.com/public/front/whitelogo.png" loading="lazy" alt="Bike NationLogo" class="brand-logo" bis_size="{&quot;x&quot;:134,&quot;y&quot;:0,&quot;w&quot;:180,&quot;h&quot;:101,&quot;abs_x&quot;:134,&quot;abs_y&quot;:0}" bis_id="bn_4rb6rokw3073kc0ka9rmbv">
                </a>
                <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
                    <ul role="list" class="nav-menu w-list-unstyled">
                        <li class="nav-list-item"><a href="/" aria-current="page" class="nav-link w--current">Home</a></li>
                        <li class="nav-list-item"><a href="/about" class="nav-link" bis_skin_checked="1">About</a></li>
                        <li class="nav-list-item"><a href="/our-fleet" class="nav-link" bis_skin_checked="1">Our Blog</a></li>
                        <li class="nav-list-item">
                            <div data-hover="true" data-delay="0" class="nav-dropdown w-dropdown" bis_skin_checked="1">
                                <div class="nav-dropdown-toggle w-dropdown-toggle" bis_skin_checked="1">
                                    <div class="nav-link" bis_skin_checked="1">Car Brands</div>
                                    <div class="nav-dropdown-icon w-icon-dropdown-toggle" bis_skin_checked="1"></div>
                                </div>
                                <nav class="nav-dropdown-list w-dropdown-list">
                                    <div class="filters-collection-list-wrapper w-dyn-list" bis_skin_checked="1">
                                        <div role="list" class="brands-collection-list w-dyn-items" bis_skin_checked="1">
                                            <div role="listitem" class="brand-collection-item w-dyn-item" bis_skin_checked="1"><a href="/car-brands/audi" class="nav-dropdown-link" bis_skin_checked="1">Audi</a></div>
                                            <div role="listitem" class="brand-collection-item w-dyn-item" bis_skin_checked="1"><a href="/car-brands/porsche" class="nav-dropdown-link" bis_skin_checked="1">Porsche</a></div>
                                            <div role="listitem" class="brand-collection-item w-dyn-item" bis_skin_checked="1"><a href="/car-brands/bmw" class="nav-dropdown-link" bis_skin_checked="1">BMW</a></div>
                                            <div role="listitem" class="brand-collection-item w-dyn-item" bis_skin_checked="1"><a href="/car-brands/mercedes-benz" class="nav-dropdown-link" bis_skin_checked="1">Mercedes Benz</a></div>
                                            <div role="listitem" class="brand-collection-item w-dyn-item" bis_skin_checked="1"><a href="/car-brands/ferrari" class="nav-dropdown-link" bis_skin_checked="1">Ferrari</a></div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </li>
                        <li class="nav-list-item">
                            <div class="cta-button-wrapper" bis_skin_checked="1">
                                <a href="/our-fleet" class="cta-button w-button" style="color: white;" bis_skin_checked="1">Contact Us</a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="menu-button w-nav-button" bis_skin_checked="1">
                    <div class="icon w-icon-nav-menu" bis_skin_checked="1"></div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <section>
        <div class="footer-section-wrapper" bis_skin_checked="1">
            <div class="content-wrapper" bis_skin_checked="1">
                <div class="footer-content-wrapper" bis_skin_checked="1">
                    <div class="footer-top-content" bis_skin_checked="1">
                        <div class="footer-logo-social" bis_skin_checked="1">
                            <a href="/" aria-current="page" class="brand w-nav-brand w--current" bis_size="{&quot;x&quot;:134,&quot;y&quot;:1505,&quot;w&quot;:180,&quot;h&quot;:101,&quot;abs_x&quot;:134,&quot;abs_y&quot;:1505}">
                                <img src="http://2whealers.com/public/front/whitelogo.png" loading="lazy" alt="Bike NationLogo" class="brand-logo" bis_size="{&quot;x&quot;:134,&quot;y&quot;:1505,&quot;w&quot;:180,&quot;h&quot;:101,&quot;abs_x&quot;:134,&quot;abs_y&quot;:1505}" bis_id="bn_henmwkaladn24ixdkl1lov">
                            </a>
                            <div class="footer-text" bis_skin_checked="1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam justo nec ligula eleifend efficitur.</div>
                            <div class="social-media-links" bis_skin_checked="1">
                                <a href="https://x.com/" target="_blank" class="social-media w-inline-block" bis_skin_checked="1"><img src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/6677ef5c2f59c6148debf7f8_twitter.png" loading="eager" alt="X Icon" class="image"></a>
                                <a href="https://www.instagram.com/" target="_blank" class="social-media w-inline-block" bis_skin_checked="1"><img src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/6677ef5c2f59c6148debf7f9_instagram.png" loading="eager" alt="Instagram Icon" class="image"></a>
                                <a href="https://www.facebook.com/" target="_blank" class="social-media w-inline-block" bis_skin_checked="1"><img src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/6677ef5c2f59c6148debf7fa_facebook-app-symbol.png" loading="eager" sizes="20px" srcset="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/6677ef5c2f59c6148debf7fa_facebook-app-symbol-p-500.png 500w, https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/6677ef5c2f59c6148debf7fa_facebook-app-symbol.png 512w" alt="Facebook Icon" class="image"></a>
                                <a href="https://www.whatsapp.com/" target="_blank" class="social-media w-inline-block" bis_skin_checked="1"><img src="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/6677ef5c2f59c6148debf814_whatsapp.png" loading="eager" alt="WhatsApp Icon" class="image"></a>
                            </div>
                        </div>
                        <div class="footer-newsletter" bis_skin_checked="1">
                            <h3 class="small-heading">Subscribe to our newsletter</h3>
                            <div class="w-form" bis_skin_checked="1">
                                <form id="wf-form-Newsletter-Form" name="wf-form-Newsletter-Form" data-name="Newsletter Form" method="get" class="newsletter-form" data-wf-page-id="6677ef5c2f59c6148debf7df" data-wf-element-id="3b0273f3-39cd-74e3-0d1e-eec397c796df">
                                    <input class="form-field w-input" maxlength="256" name="Email" data-name="Email" placeholder="example@gmail.com" type="email" id="Email" required="">
                                    <input type="submit" data-wait="Please wait..." class="cta-button w-button" value="Submit">
                                </form>
                                <div class="form-success-message w-form-done" bis_skin_checked="1">
                                    <div bis_skin_checked="1">Thank you! Your submission has been received!</div>
                                </div>
                                <div class="form-error-message w-form-fail" bis_skin_checked="1">
                                    <div bis_skin_checked="1">Oops! Something went wrong while submitting the form.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider" bis_skin_checked="1"></div>
                    <div class="footer-bottom-content" bis_skin_checked="1">
                        <div class="footer-links-wrapper" bis_skin_checked="1">
                            <h2 class="heading">Pages</h2>
                            <a href="/" aria-current="page" class="footer-nav-link w--current">Home</a>
                            <a href="/about" class="footer-nav-link" bis_skin_checked="1">About Us</a>
                            <a href="/our-fleet" class="footer-nav-link" bis_skin_checked="1">Our Fleet</a>
                            <a href="/contact" class="footer-nav-link" bis_skin_checked="1">Contact Us</a>
                        </div>
                        <div class="footer-links-wrapper" bis_skin_checked="1">
                            <h2 class="heading">Template Pages</h2>
                            <!-- https://gearshifttemplate.webflow -->
                            <a href=".io/cars/porsche-cayenne-coupe" class="footer-nav-link" bis_skin_checked="1">Cars Template</a>
                            <a href=".io/car-types/convertible" class="footer-nav-link" bis_skin_checked="1">Car Types Template</a>
                            <a href=".io/locations/palm-jumeirah" class="footer-nav-link" bis_skin_checked="1">Car Locations Template</a>
                            <a href=".io/car-brands/mercedes-benz" class="footer-nav-link" bis_skin_checked="1">Car Brands Template</a>
                            <a href=".io/features/bluetooth-audio" class="footer-nav-link" bis_skin_checked="1">Features Template</a>
                        </div>
                        <div class="footer-links-wrapper" bis_skin_checked="1">
                            <h2 class="heading">Utility Pages</h2>
                            <a href=".io/401" class="footer-nav-link" bis_skin_checked="1">Password Protected</a>
                            <a href=".io/404" class="footer-nav-link" bis_skin_checked="1">404 Not Found</a>
                            <a href="/style-guide" class="footer-nav-link" bis_skin_checked="1">Style Guide</a>
                            <a href="/licenses" class="footer-nav-link" bis_skin_checked="1">Licenses</a>
                            <a href="/changelog" class="footer-nav-link" bis_skin_checked="1">Changelog</a>
                            <a href="/instructions" class="footer-nav-link" bis_skin_checked="1">Instructions</a>
                        </div>
                        <div class="footer-links-wrapper" bis_skin_checked="1">
                            <h2 class="heading">Get In Touch</h2>
                            <a href="tel:+971123456789" class="footer-nav-link" bis_skin_checked="1">+971 12 345 6789</a>
                            <a href="mailto:info@gearshift.ae" class="footer-nav-link" bis_skin_checked="1">info@gearshift.ae</a>
                            @*<a href="https://www.google.com/maps/search/+123+Innovation+Street,+Downtown+Dubai,+Dubai,+UAE/@25.1559625,55.2253142,11.35z?entry=ttu" target="_blank" class="footer-nav-link" bis_skin_checked="1">123 Innovation Street, Downtown Dubai, Dubai, UAE</a>*@
                        </div>
                    </div>
                    <div class="divider" bis_skin_checked="1"></div>
                    <div class="copyright-info-wrapper" bis_skin_checked="1">
                        <div class="footer-copyright-text" bis_skin_checked="1">
                            Copyright © Bike Nation | Powered by
                            <a href="https://2whealsers.com/" target="_blank" class="link-text" bis_skin_checked="1">2whealers</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        // Tab switching
        const tabButtons = document.querySelectorAll('.tab-btn');
        const contents = document.querySelectorAll('.tab-content');
        tabButtons.forEach(btn => {
            btn.addEventListener('click', () => {
                tabButtons.forEach(b => b.classList.remove('active'));
                contents.forEach(c => c.classList.remove('active'));
                btn.classList.add('active');
                document.getElementById(btn.dataset.tab).classList.add('active');
            });
        });

        // Swiper initialization for each tab
        new Swiper('.latest-swiper', {
            slidesPerView: 4,
            spaceBetween: 15,
            grabCursor: true,
            preventClicks: false,
            preventClicksPropagation: false,
            navigation: {
                nextEl: '.latest-swiper .swiper-button-next',
                prevEl: '.latest-swiper .swiper-button-prev'
            }
        });
        new Swiper('.featured-swiper', {
            slidesPerView: 'auto',
            spaceBetween: 15,
            grabCursor: true,

            navigation: {
                nextEl: '.featured-swiper .swiper-button-next',
                prevEl: '.featured-swiper .swiper-button-prev'
            }
        });

        new Swiper('.reviews-swiper', {
            slidesPerView: 'auto',
            spaceBetween: 15,
            grabCursor: true,
            pagination: {
                el: '.reviews-swiper .swiper-pagination',
                clickable: true
            },
            navigation: {
                nextEl: '.reviews-swiper .swiper-button-next',
                prevEl: '.reviews-swiper .swiper-button-prev'
            }
        });
    </script>
    <script>
        touchStartPreventDefault: false

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
